<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head th:include="fragment_header :: header"> </head>

<body class="bg-light">

   <nav th:replace="fragmento_nav :: nav"></nav>

    <main role="main" class="container-fluid">
    
    	<div class="d-flex align-items-center p-4 my-4 text-50 bg-purple rounded box-shadow form-inline">
				<form class="form-inline">
  					<div class="form-group">
    					<label for="comandaNum">Numero da Comanda</label>
    					<input type="text" id="comandaNum" class="form-control mx-sm-3" th:value="${comanda.id}" readonly="readonly">
  					</div>
  					<div class="form-group">
  						<a class="delete btn btn-sm btn-danger" th:href="@{/comanda/cancelar/{id}(id=${comanda.id})}">Cancelar</a>
  					</div>
				</form>
    	</div>

        <div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Produto</th>
							<th>Valor</th>
							<th>Quantidade</th>
							<th>Subtotal</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${comanda.itens}">
							<td th:text="${item.produto.nome}"></td>
							<td th:text="'R$ ' + ${item.produto.valor}"></td>
							<td th:text="${item.quantidade}"></td>
							<td th:text="'R$ ' + ${item.subTotal}"></td>
							<td>
								<div class="btn-group pull-right">
							   		<a class="btn btn-sm btn-primary" th:href="@{'/comanda/' + ${comanda.id} + '/edit/' + ${item.id}}">Editar</a>
							   		<a class="delete btn btn-sm btn-danger" th:href="@{'/comanda/delete/item/' + ${item.id}}">Excluir</a>
							   </div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="panel-footer">
				<a class="btn btn-sm btn-success" th:href="@{/comanda/adiciona/{id}(id=${comanda.id})}"  >Adicionar</a>
			</div>
			
			<div class="d-flex align-items-center p-4 my-4 text-50 bg-purple rounded box-shadow form-inline">
				<form class="form-inline">
  					<div class="form-group">
    					<label for="valorTotal">Valor Total</label>
    					<input type="text" id="valorTotal" class="form-control mx-sm-3" th:value="'R$ ' + ${comanda.valorTotal}" readonly="readonly">
  					</div>
  					<div class="form-group">
    					<label for="paga">Esta Paga?</label>
    					<input type="text" id="paga" class="form-control mx-sm-3" th:value="${comanda.estaPaga} ? 'Sim':'Nao' " readonly="readonly">
  					</div>
  					<div class="form-group">
  						<a class="btn btn-sm btn-success" th:href="@{/comanda/pagar/{id}(id=${comanda.id})}">Pagar</a>
  					</div>
				</form>
    		</div>
    </main>
    
    <div th:replace="fragment_importsjs :: importsjs"></div>
</body>

</html>