<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment_header :: header"></head>

<body class="bg-light">

	<nav th:replace="fragmento_nav :: nav"></nav>

	<main role="main" class="container">
	<div th:replace="fragmento_topo :: topo"></div>



	<div class="my-3 p-3 bg-white rounded box-shadow">
		<div class="media text-muted pt-3">

			<form class="form-signin" style="width: 100%" th:action="@{/comanda/criar/}" method="POST">
				
				<p>Selecione o cliente:</p>
				
				<div class="form-group">
                	
                	<select class="form-control" name="cliente">
						<option th:each="cliente : ${clientes}"
								th:value="${cliente.id}"
								th:text="${cliente.nome}"
								th:selected="${cliente.id == 1}"/>
					</select>
                	
                </div>
				
				<button class="btn btn-primary" id="env" type="submit">Criar Comanda</button>
				
			</form>
		</div>
	</div>
	</main>

	<div th:replace="fragment_importsjs :: importsjs"></div>
	<script src="/js/incluir.js"></script>
</body>

</html>