<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head th:include="fragment_header :: header"></head>

<body class="bg-light">

    <nav th:replace="fragmento_nav :: nav"></nav>

    <main role="main" class="container">
        <div th:replace="fragmento_topo :: topo"></div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media text-muted pt-3">
                
                <form class="form-signin" style="width: 60%" th:object="${cliente}" th:action="@{/clientes/save}" method="POST">
					
					<div class="form-group row">
						<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
							<div th:each="detailedError : ${#fields.detailedErrors()}">
								<span th:text="${detailedError.message}"></span>
							</div>
						</div>
					</div> 
					
					<div class="form-group" th:classappend="${#fields.hasErrors('id')}? 'has-error'"> 
                        <input type="text" style="width: 50%" class="form-control" id="id" aria-describedby="inputGroupPrepend" th:field="*{id}" readonly="readonly">
                    </div>
						
                    <div class="form-group" th:classappend="${#fields.hasErrors('nome')}? 'has-error'"> 
                        <label for="nome">Nome</label>
                        <input type="text" style="width: 50%" class="form-control" id="nomeCliente" aria-describedby="inputGroupPrepend" th:field="*{nome}" autofocus="autofocus">
                    </div>

                    <div class="form-group"  th:classappend="${#fields.hasErrors('numeroCelular')}? 'has-error'">
                        <label for="valot">Numero do celular</label>
                        <input type="text" style="width: 50%" class="form-control" id="numeroCelular" aria-describedby="inputGroupPrepend" th:field="*{numeroCelular}" autofocus="autofocus">
                    </div>
                    
                    <p>
                        <div class="alert-box success">Inserido com sucesso!</div>
                        <div class="alert-box failure">Ocorreu um erro. Contate o administrador.</div>
                    </p>
                    
                    <button class="btn btn-primary" id="env" type="submit">Salvar Cliente</button>
                </form>
            </div>
        </div>
    </main>
    
    <div th:replace="fragment_importsjs :: importsjs"></div>
    <script src="/js/incluir.js"></script>
</body>

</html>