<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/img/beer.jpg">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/offcanvas.css" rel="stylesheet">
    <link href="/css/form-custom.css" rel="stylesheet">
    <link href="/css/incluir.css" rel="stylesheet">
    <title>Bar do Coito</title>
</head>