<div class="d-flex align-items-center p-3 my-3 text-50 bg-purple rounded box-shadow" th:fragment="topo">
	<img class="mr-3" src="/img/beer.png" alt="porto" width="80" height="80">
	<div class="lh-100">
		<h6 class="mb-0 text-black lh-100">Bar do Coito</h6>
		<small>E o coito viu!</small>
	</div>
</div>