<div th:fragment="importsjs">
	<script src="/js/jquery-3.3.1.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/holder.min.js"></script>
	<script src="/js/offcanvas.js"></script>
</div>