<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="nav">
    <a class="navbar-brand">Ola, [[${#httpServletRequest.remoteUser}]]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/clientes/}">Clientes
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/produtos/}">Produtos
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Comanda
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/comanda/cliente/}">Nova</a>
                    <a class="dropdown-item" th:href="@{/comanda/visualizar/}">Visualizar</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contas/listar/}">Contas
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/logout}">Sair</a>
        </form>
    </div>
</nav>