<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment_header :: header"></head>

<body class="bg-light">

    <nav th:replace="fragmento_nav :: nav"></nav>

    <main role="main" class="container">
        <div th:replace="fragmento_topo :: topo"></div>
        <div class="jumbotron">
            <h1 class="display-4">Ola, [[${#httpServletRequest.remoteUser}]]!</h1>
            <p class="lead">Esta pagina esta em construcao. Em breve vamos ter um dash board
            para saber como estao as vendas.</p>
            <hr class="my-4">
            <p>Para visualizar as comandas clique no botao abaixo.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" th:href="@{/comanda/visualizar/}" role="button">Visualizar Comandas</a>
            </p>
        </div>

    </main>

    <div th:replace="fragment_importsjs :: importsjs"></div>
</body>

</html>