<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head th:include="fragment_header :: header"></head>

<body class="bg-light">

    <nav th:replace="fragmento_nav :: nav"></nav>

    <main role="main" class="container">
        <div th:replace="fragmento_topo :: topo"></div>

        <div class="my-3 p-1 bg-white rounded box-shadow">
            <div class="media text-muted pt-3">
                
              	<form class="form-signin" style="width: 100%" th:action="@{/comanda/item/incluir/}" method="POST">
				
				<div class="form-group">
                	<select class="form-control" name="produto">
						<option th:each="produto : ${produtos}"
								th:value="${produto.id}"
								th:text="${produto.nome}"
								th:selected="${produto.id == 1}"/>
					</select>
                </div>
                
                <div class="form-group">
                	<label for="quantidade">Quantidade</label>
                    <input type="text" style="width: 100%" class="form-control" id="quantidade" name="quantidade">
                </div>
                
                <input type="hidden" name="comanda" th:value="${comanda}"/>
				
				<button class="btn btn-primary" id="env" type="submit">Adicionar Item</button>
				
			</form>
            </div>
        </div>
    </main>
    
    <div th:replace="fragment_importsjs :: importsjs"></div>
    <script src="/js/incluir.js"></script>
</body>

</html>