<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head th:include="fragment_header :: header"></head>

<body class="bg-light">

    <nav th:replace="fragmento_nav :: nav"></nav>

    <main role="main" class="container">
        <div th:replace="fragmento_topo :: topo"></div>
        
        <form th:action="@{/produtos/filtrado/}" method="post">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="nome">Nome</label>
                    <input type="text" class="form-control mb-2" id="nome" name="nome" placeholder="Digite o nome">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Filtrar</button>
                </div>
            </div>
        </form>
        

        <div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Valor</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto : ${produtos}">
							<td th:text="${produto.id}"></td>
							<td th:text="${produto.nome}"></td>
							<td th:text="${produto.valor}"></td>
							<td>
								<div class="btn-group pull-right">
							   		<a class="btn btn-sm btn-primary" th:href="@{/produtos/edit/{id}(id=${produto.id})}" >Editar</a>
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/produtos/delete/{id}(id=${produto.id})}">Excluir</a>
							   </div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="panel-footer">
				<a class="btn btn-sm btn-success" th:href="@{/produtos/add/}" >Adicionar</a>
			</div>
    </main>
    
    <div th:replace="fragment_importsjs :: importsjs"></div>
</body>

</html>